<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>Lorem ipsum dolor sit amet, adipiscing elit. Cras imperdiet nec erat ac condimentum. Nulla vel rutrum ligula. Sed hendrerit interdum orci a posuere. Vivamus ut velit aliquet, mollis purus eget, iaculis nisl. <a href=''>Proin posuere malesuada</a> ante. Proin auctor orci eros, ac molestie lorem dictum nec. Vestibulum sit amet erat est. Morbi luctus sed elit ac luctus.</p>

            <p>Proin blandit, enim vitae egestas posuere, neque elit ultricies dui, vel mattis nibh enim ac lorem. Maecenas molestie nisl sit amet velit dictum lobortis. Aliquam erat volutpat.</p>

            <p>But I sit down and call him. He picks up. It’s all good. I start...</p>

            <div class='uit-body__call'>
                <p class='uit-body__call-line is-animatable uit-body__call-line--me'>Chris, I’m so glad I’ve finally managed to talk to you</p>

                <p class='uit-body__call-line is-animatable'>Who am I talking to?</p>

                <p class='uit-body__call-line is-animatable uit-body__call-line--me'>This is Max Benwell</p>

                <p class='uit-body__call-line is-animatable'>...</p>

                <p class='uit-body__call-line is-animatable'>...</p>

                <p class='uit-body__call-line is-animatable'>...</p>
            </div>

                <p class='uit-body__silence'>Silence. I sense he’s going to hang up, so I keep talking and try to reassure him.</p>

            <div class='uit-body__call'>
                <p class='uit-body__call-line is-animatable uit-body__call-line--me'>I’m really glad we’ve got to talk. There’s no issue at all</p>

                <p class='uit-body__call-line is-animatable'>Sorry, Max who? Where are you phoning from?</p>

                <p class='uit-body__call-line is-animatable uit-body__call-line--me'>New York</p>

                <p class='uit-body__call-line is-animatable'>OK and how can I help you?</p>
            </div>

            <p>He doesn’t sound best pleased.</p>

            <p>I first found out about my catfisher on 13 March 2018. A woman messaged me on Twitter. </p>

            <div class='uit-tweet__dm'>
                <div class='uit-tweet__avatar'>
                    <img class='uit-tweet__avatar-image' src='{{ path }}/assets/gloo-avatar.jpg' />
                </div>
                <p class='uit-body__twitter-dm is-animatable'>Hey, I just wanted to let you know someone is pretending to be you ...</p>
            </div>

            <p>This marks the beginning of a long fall down a rabbit hole of online fakery, setting up a fake Instagram account, buying followers and likes, changing my gender on Tinder and looking for myself in Oklahoma, and talking to bots about their dreams. I catfished my catfisher.

            {{> partials/twitterDMs }}

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>
        </div>
        <div class='uit-gloo is-group'>
            <div class='uit-gloo-graphic is-group-graphic'>
                <div class='uit-gloo-graphic__wrapper'>
                    <div class='uit-gloo-graphic__top'>
                        <div class='uit-gloo-graphic__avatar-ring'>
                            <div class='uit-gloo-graphic__avatar'>
                                <img class='uit-gloo-graphic__avatar-image' src='{{ path }}/assets/gloo-avatar.jpg' />
                            </div>
                        </div>
                        <div class='uit-gloo-graphic__meta'>
                            <p class='uit-gloo-graphic__name'>Gorgeous Ladies of Oklahoma</p>
                            <p class='uit-gloo-graphic__followers'>Followers <span class='uit-gloo-graphic__followers-count'>4</span></p>
                        </div>
                    </div>
                    <div class='uit-gloo-graphic__grid'>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--1'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-1.jpg' />
                        </div>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--2'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-2.jpg' />
                        </div>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--3'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-3.jpg' />
                        </div>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--4'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-4.jpg' />
                        </div>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--5'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-5.jpg' />
                        </div>
                        <div class='uit-gloo-graphic__post uit-gloo-graphic__post--6'>
                            <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-6.jpg' />
                        </div>
                    </div>
                </div>
            </div>
            <div class='uit-gloo-text is-group-text'>
                <p class='is-group-step'>So, inspired by the Netflix TV show GLOW, I make a page called Gorgeous Ladies of Oklahoma, or GLOO.</p>
                <div class='is-group-step'>
                    <p>A couple of my female friends agree to let me post some of their holiday photos, otherwise known as “thirst traps”.  I hashtag them with things like #babe (which already has 14m posts tagged with it on Instagram) #bikinibabe (853,000), #BabesofInstagram (1m) and #beachtime (2.9m). </p>
                    <p>So far so weird, but I’ve stayed within the rules. I’m just a humble and quite problematic small business owner; sexy Oklahoma-themed pics are my trade.</p>
                </div>
                <p class='is-group-step is-last-step'>
                    But then a big problem arises, forcing me to quickly accelerate off-road, and into the wilds of fake followers. I don’t look at all legit – why would John follow an account with only 10 followers? So I pay $16 and get over a thousand followers from a site called Coin Crack. Then I start buying likes.With just $7 I get several hundred; they slowly pour into my account over the next 24 hours, their slow pace helping them avoid Instagram’s fake like detectors.
                </p>
            </div>
        </div>


        <div class='uit-content'>
            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

            {{> partials/tweet }}

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>
        </div>
    </div>
</div>
