<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-body__meta'>
                <div class='uit-body__meta-group'>
                    <h4 class="uit-body__byline"><a href="https://www.theguardian.com/profile/max-benwell">Max Benwell</a></h4>
                    <h5 class='uit-body__dateline'>
                        <time itemprop='datePublished' datetime='2019-02-14T08:00:30-0500'>
                        Wed 20 Feb 2019 <span class='content__dateline-time'>08.00&nbsp;EST</span>
                        </time>
                    </h5>
                </div>

                {{> partials/share }}
            </div>
            <p class='uit-body__credit note'>Illustrations by Gabriel Alcala. Design by Sam Morris and Juweek Adolphe</p>
            <p>Last year, I found out someone was using my photos to catfish women. He stole dozens of my online photos – including selfies, family photos, baby photos, photos with my ex – and, pretending to be me, he would then approach his prey and spew a torrent of abuse at them.</p>
            <p>It took my months to track him down, and now I’m about to call him. I’m nervous, so much so that I have been putting it off for weeks.</p>
            <p>I sit down and dial. My palms are sweaty. He picks up.</p>
            <p>“Hi,” I say. “I’m looking to talk to Chris …”</p>
            <p>“This is Chris. Who am I talking to?” He already sounds pissed off.</p>
            <p>“I’m really glad I finally managed to talk to you.”</p>
            <p>“Who am I talking to?”</p>
            <p>“This is Max Benwell.”</p>
            <p>“Sorry, Max who? Where are you calling from?”</p>
            <p>“New York.”</p>
            <p>“OK, and how can I help you?”</p>

            <div class='uit-body__divider'></div>

            <p>I first find out about my catfisher in March 2018, when a woman messages me on Twitter.</p>

            {{> partials/DM
                platform="twitter"
                image="twitter-1"
                message="Hey, I just wanted to let you know someone is pretending to be you ..."
                timeStamp="March 2018"
            }}

            <p>Little do I know that from moment on, I will fall down a rabbit hole of online fakery, which will include setting up a fake Instagram account, buying followers, buying likes, even changing my gender on Tinder.</p>
            <p>After receiving that first message, I try to forget about it, thinking people will report him and that Facebook and Instagram will suspend his account.</p>
            <p>But about two weeks later, I receive a message on Twitter from a different woman:</p>

            {{> partials/DM
                platform="twitter"
                image="twitter-2"
                message="Hey, I know you don’t know me but I think you should know that someone has been using your pictures to catfish me haha, I thought you should know and it sucks when someone does that"
                timeStamp="April 2018"
            }}

            <p>Soon after, a third woman messages me.</p>

            {{> partials/DM
                platform="twitter"
                image="twitter-3"
                message="Hi, sorry to bug you."
                secondMessage="But there is someone on the internet who stole your photos, and is using them to try and catfish people. It just happened to my friend. I just figured you’d wanna know."
                timeStamp="April 2018"
            }}

            <p>Each seems to have reported him, and I can’t find his profile anywhere. So what is there to do? Again, I just hope that his account has been suspended.</p>
            <p>Two months later it happens for the fourth time, and it’s bad. I receive a tweet that reads:</p>

            {{> partials/tweet }}

            <p>Attached is a photo of my face and a screenshot from a Tinder conversation her female friend had with the catfisher.</p>

            <p>I am mortified. At this point, I decide to track him down and tell him to stop. I feel awful for the women he has been screaming at, but I also can’t ignore the psychological toll it’s starting to take on me. The idea of these women thinking it’s me doing all of this is disturbing. </p>
            <div class='uit-body__divider'></div>
            <p>How do you track down someone when you don’t know who they are? I start with the only lead I have. I manage to find one of the catfisher’s Instagram accounts, where he now goes by the name of John Sanders. His profile photo? Me sitting in a kayak in Guatemala – a recent holiday photo.</p>

            {{> partials/instagram private='true' }}

            <p>John follows 1,900 people and, terrifyingly, has 280 followers. That’s 280 people who think he’s me. But it’s his bio that really takes the piss: <span class='uit-body__tinder-bio'>Simple, laid-back and educated guy who enjoys having fun, trying new things and meeting new people</span> it reads. <span class='uit-body__tinder-bio'>Get to know me</span>.</p>
            <p>He has posted 153 photos, but his profile is private. If I’m going to find out what he has been doing with my photos, he would have to accept my follow request. But if I add him from <em>my</em> account, he could end up blocking me and changing his handle again, meaning I may never stop him. Getting a friend to add him would also be too risky – he might see a photo of us together.</p>
            <p>That’s when it dawns on me: I’m going to have to catfish him.</p>

            <p>I contact Facebook, which owns Instagram. Is it OK to catfish a catfisher? “Misrepresenting yourself is against our policies,” their spokesperson replies. “We have a dedicated team that’s tasked with helping to detect and block this kind of activity.”</p>
            <p>But will I be banned if I pose as someone else to stop an abusive catfisher, ie do it for the good of the internet? “I get what you mean,” the spokesperson replies. “I just want to clarify here, that any impersonation – no matter the motive – will be dealt with the same.”</p>
            <p>OK. So, I can’t impersonate a person but … what if I invent a fake business that caters directly to his interests?</p>
            <p>From what I’ve gleaned, my catfisher is from Oklahoma and likes <span class='uit-body__tinder-bio'>beautiful</span> and <span class='uit-body__tinder-bio'>sexy</span>, women. (I know this because I have found comments he has left on random women’s Instagram posts. One says <span class='uit-body__tinder-bio'>beautiful</span>, the other <span class='uit-body__tinder-bio'>sexy</span>)</p>
        </div>

            {{> partials/group--gloo }}

        <div class='uit-content'>
            <p>With my bot army in formation, my next move is to up the ante with John, and start geo-targeting him – a feature of Instagram used mostly by brands to advertise their posts to their target customers. So I pay Instagram $64 (£50) and it pushes a post targeting men aged 18-30 in a 15-mile radius of the Oklahoma city centre.</p>
            <p>Some men take the bait. One even comments, writing: <span class='uit-body__tinder-bio'>Im from okc wus poppin.</span> But John isn’t among them. I give up trying to make him follow me, and request to follow him. He never accepts.</p>
            <p>Defeated and getting desperate, I decide to go on my Tinder account and change my gender to female and my location to Oklahoma City. I swipe through hundreds of straight men looking for someone with my face, on the off chance John is still using my photos. But it’s like looking for a needle in a haystack or, more accurately, a catfish in an ocean of topless men with names such as Brad and Tyler.</p>
            <p>But then I remember the <span class='uit-body__tinder-bio'>beautiful</span> and <span class='uit-body__tinder-bio'>sexy</span> comments he left on two women’s accounts. What if they had followed him back after he randomly added them?</p>
            <p>I find their profiles – they’re public – and search who they follow.</p>
            <p>And sure enough, he’s there. This could be it. I finally have a solid lead.</p>
            <p>One of the women who follows John messages back and sends me screenshots of his account; it’s filled with photos of me, along with hundreds of weird memes.</p>

            {{> partials/instagram }}

            <p>Each scroll brings a new wave of dread and confusion. Who would steal someone’s baby photos and pass them as their own? I decide I need help from an expert.</p>
            <div class='uit-body__divider'></div>
            <p>I contact Social Catfish, a social media investigation service based in California. They have an image search tool – like Google Images but more powerful – which can help me find any other accounts my catfisher has set up with my photos.</p>
            <p>Linnie is assigned to my case. She says she dealt with 1,300 catfishing cases in 2018, and that 95% of them were financial scams on women between the ages of 50 and 75, mainly from men based in Nigeria.</p>
            <p>According to her, catfishing scammers get their photos from Googling terms such as “intelligent man with glasses” or “white man in suit”. In my case she thinks my catfish just wants to be able to talk to women and say whatever he wants. But why my face? I ask. She pauses awkwardly. “Because … you’re attractive,” she says. Thanking her, I explain that there’s no way I can mention that in my article.</p>
            <p>I send Linnie my photos and she puts them through Social Catfish’s search tool to see if John has been using them anywhere else besides Instagram. He hasn’t, but what I discover is even more disturbing. Another guy is selling sneakers as me in Ohio. Another man putting out a casting call on a crowdsourcing website with my face. Two men have written Yelp reviews with, yep, my face as their avatars.</p>
            <p>Unfortunately, Social Catfish can’t figure out who John Sanders’ true identity either. I thank them, and start to think I should give up.But before I do, I have one final go. I start by going back over all the women’s messages to make sure I haven’t missed anything. And … it turns out I have.</p>
            <p>My catfisher’s real name has been sitting in my Twitter inbox all along. In the flurry of messages I had forgotten the first woman had actually guessed his name. I feel so stupid, but when she had first contacted me I had never intended to write anything about it. I was confused, and it was months before I decided to do anything.</p>
            <p>How did she know who he was?</p>

            {{> partials/DM
                platform="twitter"
                image="twitter-3"
                message="John added me, then Chris added me. John would message me for a while, then Chris would. They were the only mutual friends that I had with either of them"
                timeStamp="April 2018"
            }}

            <p>I Google Chris’s full name and find two Facebook accounts and his Instagram. They’re all private.</p>
            <p>But then I come across a Google+ group. It has been set up to expose abusive behavior online. In 2016, someone posted screenshots of Chris.</p>

            {{> partials/facebook }}

            <p>Things get even more disturbing. A few months later, a young woman called Lizzie responded to the post.</p>

            <p class='uit-facebook__reply'>
                <strong>Lizzie</strong> Chris, my best friend! He is a GREAT guy! Sadly some internet trolls with no lives and nothing better to do are trying to smear his name, image and reputation by posting screenshots of hateful messages that were sent to them from his HACKED account! Leave my best friend alone you cyber bullies [sic]!
            <p>

            <p>Along with the post she has uploaded 33 photos. They’re all of Chris, and most of them are selfies where he’s smiling or goofing around. As I scroll through them, an opening ceremony of red flags marches through my head. I upload her photo to the Google Images search tool, and this headline comes up:</p>
            <p>“She went missing from a sheriff’s station. Now the state wants answers.”</p>
            <p>The photo is of Mitrice Richardson, a 24-year-old grad student from California. She went missing in 2009, and her remains were found a year later. </p>
            <p>I don’t think Chris has murdered anyone. But he has used a dead woman’s photo to defensively catfish people accusing him of abuse.</p>
            <p>I give Social Catfish Chris’ name and the photos I can find of him. From public records they’re able to get his home address. He lives in the midwest and, from public records, they are able to find his phone number.</p>
            <div class='uit-body__divider'></div>
            <p>“Chris, I’m calling because someone has been using my photos on the internet and, please correct me if I’m wrong, but I heard it was maybe ... you?”</p>
            <p>“No, it definitely wasn’t me. I have my own profile with my own pictures.”</p>
            <p>I try to reassure him so he doesn’t hang up. I’m not trying to get him into trouble. I’m writing a piece about what he has done, but I won’t be using his real name. I just want to talk, get some closure.</p>
            <div class='uit-body__divider'></div>
            <p>“There’s quite strong evidence you’ve been using my photos, so I just want to talk to you. I’m not angry or anything,” I say.</p>
            <p>He denies it again, but then slips up. “I have my own social media profiles, my own Facebook, my own Instagram,” he says. “I was friends with somebody who it turned out that they were using someone else’s pictures, because I thought it was a real profile so I was friends with them for a bit. But then I reported the account when I found out it was fake.”</p>
            <p>“That may be true,” I say, “but my understanding is that you created an account called Jim Mason, and then it evolved to John Sanders.” He interrupts me and continues denying any involvement. We go round and round in circles. </p>
            <p>What about the woman who he followed around the exact same time as the catfish? What are the chances of that?</p>
            <p>I follow a lot of accounts, he says. Over the next hour that’s his go-to defence. (He follows just under 7,500 people, the maximum allowed by Instagram.)</p>
            <p>I start to worry I’ll never get the satisfaction of a confession, but then I remember the memes he posted in between the many pictures of me.</p>
            <p>There were so many memes on the John Sanders Instagram page. Chris has a private account. What if he had posted the same memes on his personal page?</p>
            <p>After about half an hour of going back and forth, I casually ask Chris if I can follow him on Instagram. I can almost hear the calculations he’s making in his head over the phone. It could look suspicious if he says no, but can he remember what he has posted? Was it similar? Does he have time to check?</p>
            <p>He says yes, and I’m in.</p>
            <p>I make small talk while frantically taking screenshots of all of his photos. There’s more than 1,000. I hold my landline phone with my right hand and my iPhone with my left, while using my right elbow to click the button on its side, going down his entire grid. Before we end our conversation, I try pleading with him. Just tell me, I say, it will be between us. I won’t use your real name, I just need the closure. He denies everything.</p>
            <p>But I have my smoking gun. On Chris’ account and the catfisher’s account are four of the exact same memes, all posted in the same order, around the same time.</p>

            <h1>Show same 4 memes?</h1>

            <p>I message Chris to see if he’s free to talk again. He says I can call him later that evening. There’s no way out for him now. I can’t wait for him to finally confess.</p>
            <p>But then there’s a shift. He seems to sense something. An hour before we’re due to talk, he messages again.</p>
            <p>“After giving it further thought I’ve decided that I no longer wish to be contacted regarding the story you’re doing or any other matter. I feel that I have more than enough information and answered a ton of questions last time we spoke. Please respect my privacy and do not attempt to contact me further. Thank you.”</p>
            <p>Our conversation disappears. He has blocked me.</p>
            <p>I wanted him to know what he did had consequences, for me and all the women he tricked and abused. There’s little I can do now he has blocked me, but he knows I’m writing this, and I’m almost certain he’s going to read it. I hope he can become a better person, rather than feeling like he has to be someone else completely.</p>
            <p>At almost the exact same moment Chris blocks me, I receive a message in my “other” inbox on Instagram, where messages from accounts you don’t follow go. It’s from an obviously fake account with a young blonde woman as its avatar. Her username is a garble of letters. “Hi! How are you?” she asks. I start reply. The timing is so suspicious. Could this be another rabbit hole Chris sends me down?</p>
            <p>But then I catch myself. I’m done. I don’t need to do this. I close Instagram and put my phone away.</p>
            <p class='note'>The names of the catfisher and his victims have all been changed</p>
        </div>
    </div>
</div>
