<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>Lorem ipsum dolor sit amet, adipiscing elit. Cras imperdiet nec erat ac condimentum. Nulla vel rutrum ligula. Sed hendrerit interdum orci a posuere. Vivamus ut velit aliquet, mollis purus eget, iaculis nisl. <a href=''>Proin posuere malesuada</a> ante. Proin auctor orci eros, ac molestie lorem dictum nec. Vestibulum sit amet erat est. Morbi luctus sed elit ac luctus.</p>

            <p>Proin blandit, enim vitae egestas posuere, neque elit ultricies dui, vel mattis nibh enim ac lorem. Maecenas molestie nisl sit amet velit dictum lobortis. Aliquam erat volutpat.</p>

            <p>But I sit down and call him. He picks up. It’s all good. I start...</p>

            <div class='uit-phone-call__container'>
                {{> partials/twitterDMs
                    me=true
                    platform="phone-call"
                    image=false
                    message="Chris, I’m so glad I’ve finally managed to talk to you"
                }}

                {{> partials/twitterDMs
                    me=false
                    platform="phone-call"
                    image=false
                    message="Who am I talking to?"
                }}

                {{> partials/twitterDMs
                    me=true
                    platform="phone-call"
                    image=false
                    message="This is Max Benwell"
                }}

                {{> partials/twitterDMs
                    me=false
                    platform="phone-call"
                    image=false
                    message="..."
                }}

                {{> partials/twitterDMs
                    me=true
                    platform="phone-call"
                    image=false
                    message="..."
                }}

                {{> partials/twitterDMs
                    me=false
                    platform="phone-call"
                    image=false
                    message="..."
                }}
            </div>

            <p class='uit-body__silence'>Silence. I sense he’s going to hang up, so I keep talking and try to reassure him.</p>

            <div class='uit-phone-call__container'>
                {{> partials/twitterDMs
                    me=true
                    platform="phone-call"
                    image=false
                    message="I’m really glad we’ve got to talk. There’s no issue at all"
                }}

                {{> partials/twitterDMs
                    me=false
                    platform="phone-call"
                    image=false
                    message="Sorry, Max who? Where are you phoning from?"
                }}

                {{> partials/twitterDMs
                    me=true
                    platform="phone-call"
                    image=false
                    message="New York"
                }}

                {{> partials/twitterDMs
                    me=false
                    platform="phone-call"
                    image=false
                    message="OK and how can I help you?"
                }}
            </div>

            <p>He doesn’t sound best pleased.</p>

            <p>I first found out about my catfisher on 13 March 2018. A woman messaged me on Twitter. </p>

            {{> partials/twitterDMs
                platform="twitter"
                image="gloo-avatar"
                message="Hey, I just wanted to let you know someone is pretending to be you ..."
            }}

            <p>This marks the beginning of a long fall down a rabbit hole of online fakery, setting up a fake Instagram account, buying followers and likes, changing my gender on Tinder and looking for myself in Oklahoma, and talking to bots about their dreams. I catfished my catfisher.</p>

            <p>But about two weeks later I receive a message on Twitter from a different woman:</p>

            {{> partials/twitterDMs
                platform="twitter"
                image="gloo-avatar"
                message="Hey I know you don’t know me but I think you should know that someone has been using your pictures to catfish me haha, I thought you should know and it sucks when someone does that"
            }}

            <p>Soon after this another woman messages me.</p>

            {{> partials/twitterDMs
                platform="twitter"
                image="gloo-avatar"
                message="Hi, sorry to bug you"
                secondMessage="But there is someone on the internet who stole your photos, and is using them to try and catfish people. It just happened to my friend. I just figured you’d wanna know"
            }}

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.
            </p>

            {{> partials/twitterDMs
                me=false
                platform="instagram"
                image="gloo-avatar"
                message="Sorry, Max who? Where are you phoning from?"
            }}

            {{> partials/twitterDMs
                me=true
                platform="instagram"
                image="gloo-avatar"
                message="New York"
            }}

            {{> partials/twitterDMs
                me=false
                platform="instagram"
                image="gloo-avatar"
                message="OK and how can I help you?"
            }}

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.
            </p>
        </div>

        {{> partials/group--gloo }}

        <div class='uit-content'>
            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.
            </p>

            {{> partials/tweet }}

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.
            </p>

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.
            </p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.
            </p>
        </div>

        {{> partials/group--steps }}

        <div class='uit-content'>
            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.
            </p>

            {{> partials/tweet }}

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.
            </p>

            <p>Vivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.
            </p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>
        </div>
    </div>
</div>
