<div class='uit-dm uit-{{ platform }}__dm {{#if me}}uit-{{ platform }}__dm--me{{/if}} {{#if noAnimation }}{{else}}is-animatable{{/if}}'>
    <div class='uit-dm__wrapper'>
        {{#if image}}
        <div class='uit-avatar'>
            <img class='uit-avatar-image' src='{{ path }}/assets/{{ image }}.jpg' />
        </div>
        {{/if}}
        <p class='uit-body-dm uit-body__{{ platform }}-dm'>
            {{message}}
        </p>
        {{#if secondMessage}}
        <p class='uit-body-dm uit-body__{{ platform }}-dm'>
            {{secondMessage}}
        </p>
        {{/if}}
    </div>
    {{#if timeStamp}}
        <div class='uit-dm__timestamp'>{{ timeStamp }}</div>
    {{/if}}
</div>
