<div class="uit-facebook is-animatable">
    <div class='uit-facebook__post'>
        <div class='uit-facebook__top'>
            <div class='uit-facebook__avatar'>
                <img class='uit-facebook__avatar-image' src='{{ path }}/assets/facebook.jpg' />
            </div>
            <div class="uit-facebook__head">
                <span class='uit-facebook__name'>Whistleblower</span>
                <span class='uit-facebook__group'>Discussion</span>
            </div>
        </div>
        <div class="uit-facebook__body">
            Please help me get this around. This guy was really vulgar and nasty to my friend.
        </div>
    </div>
    <div class='uit-media__screenshot'>
        {{> partials/DM
            platform="tinder"
            image="max-lift"
            message="Usually when someone gives you a compliment you say thank you you stupid ugly fat fake immature stuck up obnoxious rude white trash basic bitch, BITCH CUNT THOT! FUCK YOU AND YOUR FAGGOT BF! AND YOUR RETARDED OBNOXIOUS BITCH CUNT FRIEND! Fuck you! Biotch!"
        }}
    </div>
</div>
