<div class="uit-dm uit-tweet is-animatable">
    <div class='uit-tweet__empty'>
        What's happening?
    </div>
    <div class='uit-tweet__tweet'>
        <div class='uit-tweet__top'>
            <div class='uit-avatar uit-google__avatar'>
                <img src='{{ path }}/assets/gloo-avatar.jpg' />
            </div>
            <div class="uit-tweet__head">
                <span class='uit-google-account'><strong>Lisa BBB</strong> > Abusive Men of Oklahoma </span>
            </div>
        </div>
        <div class="uit-tweet__body">
        </div>
        <div class="uit-media__screenshot">
            {{> partials/DM
                platform="tinder"
                image="catfisher"
                message="Usually when someone gives you a compliment you say thank you you stupid ugly fat fake immature stuck up obnoxious rude white trash basic bitch, BITCH CUNT THOT! FUCK YOU AND YOUR FAGGOT BF! AND YOUR RETARDED OBNOXIOUS BITCH CUNT FRIEND! Fuck you! Biotch!"
            }}
        </div>
    </div>
</div>
