<div class="uit-dm uit-google is-animatable">
    <div class='uit-tweet__empty'>
        What's happening?
    </div>
    <div class='uit-google__body'>
        <div class='uit-tweet__top' style="padding-bottom: 10px;">
            <div class='uit-avatar uit-google__avatar'>
                <img src='{{ path }}/assets/gloo-avatar.jpg' />
            </div>
            <div class="uit-tweet__head">
                <span class='uit-google-account'><span class='uit-google-name'>Lisa BBB</span> > Abusive Men of Oklahoma </span>
            </div>
        </div>
        <div class="uit-google__copy">
            Watch out, everybody!
            <span>Abusive dude in Oklahoma</span>
        </div>
        <div class="uit-media__screenshot">
            {{> partials/DM
                platform="tinder"
                image="catfisher"
                message="Usually when someone gives you a compliment you say thank you you stupid ugly fat fake immature stuck up obnoxious rude white trash basic bitch, BITCH CUNT THOT! FUCK YOU AND YOUR FAGGOT BF! AND YOUR RETARDED OBNOXIOUS BITCH CUNT FRIEND! Fuck you! Biotch!"
            }}
        </div>
        <div class="uit-google__comment">
            <span>SHOW ALL 4 COMMENTS</span>
            <strong>Lizzie:</strong> Chris, my best friend! He is a GREAT guy! Sadly some internet trolls with no lives and nothing better to do are trying to smear his name, image and reputation by posting screenshots of hateful messages that were sent to them from his HACKED account! Leave my best friend alone you cyber bullies [sic]!
        </div>
    </div>
</div>
