<div class='uit-gloo is-group'>
    <div class='uit-gloo-graphic is-group-graphic'>
        <div class='uit-instagram'>
            <div class='uit-instagram__top'>
                <div class='uit-instagram__avatar-ring'>
                    <div class='uit-instagram__avatar'>
                        <img class='uit-instagram__avatar-image' src='{{ path }}/assets/gloo-avatar.jpg' />
                    </div>
                </div>
                <div class='uit-instagram__meta'>
                    <p class='uit-instagram__name'>Gorgeous Ladies of Oklahoma</p>
                    <p class='uit-instagram__followers'>Followers <span class='uit-instagram__followers-count'>4</span></p>
                </div>
            </div>
            <div class='uit-instagram__grid'>
                <div class='uit-instagram__post uit-instagram__post--1'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
                <div class='uit-instagram__post uit-instagram__post--2'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
                <div class='uit-instagram__post uit-instagram__post--3'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
                <div class='uit-instagram__post uit-instagram__post--4'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
                <div class='uit-instagram__post uit-instagram__post--5'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
                <div class='uit-instagram__post uit-instagram__post--6'>
                    <div class='uit-instagram__heart'>{{> icons/heart }}</div>
                    <img class='uit-instagram__image' src='{{ path }}/assets/gloo-post.jpg' />
                </div>
            </div>
        </div>
    </div>
    <div class='uit-gloo-text is-group-text'>
        <p class='is-group-step'>I decide to make a page called Gorgeous Ladies of Oklahoma, or Gloo. I only have one real shot to get access to his account, so to maximise my chances I want him to follow me first. This means I need to create the perfect account for him, and pay Instagram to promote it in his area.</p>

        <p class='is-group-step'>A couple of my female friends agree to let me post some of their vacation photos designed to get likes from men, otherwise known as “thirst traps”. One is a selfie of my friend lying by a pool, while another shows my friend in swimwear, looking out over a mountain range in Mexico. I add captions such as: “This is Chelsea. She’s 24 and loves sunbathing, lounging by the pool, Elena Ferrante and #tailgating ☀🍹❤” and hashtag them #babe (which already has 14m posts tagged with it on Instagram) #bikinibabe (853,000), #BabesofInstagram (1m) and #beachtime (2.9m).</p>

        <p class='is-group-step is-last-step'>But then an obvious problem arises: why would John follow an account with only 10 followers? So I pay $18 and get 1,000 followers from sites called CoinCrack and Buzzoid. I also buy likes powered by bots – with just $15 I get 1,000. They slowly pour into my account over the next 24 hours, their slow pace helping them avoid Instagram’s fake like detectors.</p>
    </div>
</div>
