<div class='uit-steps is-group'>
    <div class='uit-gloo-graphic is-group-graphic'>
        <div class='uit-gloo-graphic__wrapper'>
            <div class='uit-gloo-graphic__top'>
                <div class='uit-gloo-graphic__avatar-ring'>
                    <div class='uit-gloo-graphic__avatar'>
                        <img class='uit-gloo-graphic__avatar-image' src='{{ path }}/assets/gloo-avatar.jpg' />
                    </div>
                </div>
                <div class='uit-gloo-graphic__meta'>
                    <p class='uit-gloo-graphic__name'>Gorgeous Ladies of Oklahoma</p>
                    <p class='uit-gloo-graphic__followers'>Followers <span class='uit-gloo-graphic__followers-count'>4</span></p>
                </div>
            </div>
            <div class='uit-gloo-graphic__grid'>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--1'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-1.jpg' />
                </div>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--2'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-2.jpg' />
                </div>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--3'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-3.jpg' />
                </div>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--4'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-4.jpg' />
                </div>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--5'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-5.jpg' />
                </div>
                <div class='uit-gloo-graphic__post uit-gloo-graphic__post--6'>
                    <img class='uit-gloo-graphic__image' src='{{ path }}/assets/gloo-6.jpg' />
                </div>
            </div>
        </div>
    </div>
    <div class='uit-gloo-text is-group-text'>
        <p class='is-group-step'>So, inspired by the Netflix TV show GLOW, I make a page called Gorgeous Ladies of Oklahoma, or GLOO.</p>
        <div class='is-group-step'>
            <p>A couple of my female friends agree to let me post some of their holiday photos, otherwise known as “thirst traps”.  I hashtag them with things like #babe (which already has 14m posts tagged with it on Instagram) #bikinibabe (853,000), #BabesofInstagram (1m) and #beachtime (2.9m). </p>
            <p>So far so weird, but I’ve stayed within the rules. I’m just a humble and quite problematic small business owner; sexy Oklahoma-themed pics are my trade.</p>
        </div>
        <p class='is-group-step is-last-step'>
            But then a big problem arises, forcing me to quickly accelerate off-road, and into the wilds of fake followers. I don’t look at all legit – why would John follow an account with only 10 followers? So I pay $16 and get over a thousand followers from a site called Coin Crack. Then I start buying likes.With just $7 I get several hundred; they slowly pour into my account over the next 24 hours, their slow pace helping them avoid Instagram’s fake like detectors.
        </p>
    </div>
</div>
