<div class='uit-header'>
    <div class='uit-container'>
            <!-- <h1 class='uit-header__headline' itemprop='headline'>
                How to catfish a catfisher
            </h1> -->
        <div class='uit-header__avatars'>
            {{#times 28}}
                <div class='uit-header__avatar uit-header__avatar--{{ this }}'>
                    <img class='uit-header__avatar-image' src='{{ path }}/assets/head.png' />
                    <img class='uit-header__avatar-sneak' src='{{ path }}/assets/sneak.png' />
                </div>
            {{/times}}
        </div>
    </div>
</div>
