<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-header__avatars'>
            <div class='uit-header__content'>
                <h1 class='uit-header__headline' itemprop='headline'>
                    <span class='uit-header__headline-section uit-header__headline-section--1'>How to</span>
                    <span class='uit-header__headline-section uit-header__headline-section--2'>catfish a</span>
                    <span class='uit-header__headline-section uit-header__headline-section--3'>catfisher</span>
                </h1>
                <p class="uit-header__byline">by <a href="https://www.theguardian.com/profile/max-benwell">Max Benwell</a></p>
            </div>

            {{#times 28}}
                <div class='uit-header__avatar uit-header__avatar--{{ this }}'>
                    <img class='uit-header__avatar-image' src='{{ path }}/assets/head.png' />
                    <img class='uit-header__avatar-sneak' src='{{ path }}/assets/sneak.png' />
                </div>
            {{/times}}
        </div>
    </div>
</div>
