<div class='uit-instagram uit-instagram--solo uit-instagram--{{ state }} is-animatable'>
    <div class='uit-instagram__top'>
        <div class='uit-instagram__avatar-ring'>
            <div class='uit-instagram__avatar'>
                <img class='uit-instagram__avatar-image' src='{{ path }}/assets/max-lift.jpg' />
            </div>
        </div>
        <div class='uit-instagram__meta'>
            <p class='uit-instagram__name'>John Sanders</p>
            <p class='uit-instagram__followers'>Followers <span class='uit-instagram__followers-count'>280</span> | Following <span class='uit-instagram__followers-count'>1900</span></p>
        </div>
    </div>
    <div class='uit-instagram__private-zone'>
        <h3 class='uit-instagram__private-label'>This account is private</h3>
    </div>
    <div class='uit-instagram__grid uit-instagram__grid--max'>
        <div class='uit-instagram__post uit-instagram__post--1'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/meme--1.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--2'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/kayak.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--3'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/fake-max--2.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--4'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/fake-max--4.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--5'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/meme--2.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--6'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/max-lift.jpg' />
        </div>
    </div>

    <div class='uit-instagram__grid uit-instagram__grid--john'>
        <div class='uit-instagram__post uit-instagram__post--1'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/meme--1.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--2'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/catfisher-post.jpg' />
        </div>
        <div class='uit-instagram__post uit-instagram__post--3'>
            <div class='uit-instagram__heart'>{{> icons/heart }}</div>
            <img class='uit-instagram__image' src='{{ path }}/assets/meme--2.jpg' />
        </div>
    </div>
</div>
