<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/books/2014/oct/18/am-i-being-catfished-an-author-confronts-her-number-one-online-critic'>
                    <img class='uit-related__image' src='https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/10/15/1413376942356/Illustration-of-woman-fis-005.jpg' />
                    <div class='uit-related__headline'>'Am I being catfished?' An author confronts her number one online critic</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/lifeandstyle/2018/feb/28/six-new-dating-terms-youve-never-heard-of'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/9ac5407b56c08f69cff6326ecbf016ecafbacd79/0_57_2643_1586/500.jpg' />
                    <div class='uit-related__headline'>Ghosting, Caspering and six new dating terms you've never heard of</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/lifeandstyle/2017/mar/05/what-becomes-of-the-brokenhearted-online'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/940b8d29c442ff4ecf80621d824370c80ec97d05/142_0_4216_2531/500.jpg' />
                    <div class='uit-related__headline'>What becomes of the brokenhearted when they are 'catfished' online?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/lifeandstyle/2017/feb/11/internet-scams-dating-romance-money'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/1181e3b31b3111ffa8c2c1e7ed591de3d4fc75a1/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>The internet scammer who loved me (not)</div>
                </a>
            </div>
        </div>
    </div>
</div>
