<div class="uit-tweet is-animatable">
    <div class='uit-tweet__empty'>
        What's happening?
    </div>
    <div class='uit-tweet__tweet'>
        <div class='uit-tweet__top'>
            <div class='uit-twitter__avatar'>
                <img class='uit-twitter__avatar-image' src='{{ path }}/assets/twitter-4.jpg' />
            </div>
            <div class="uit-tweet__head">
                <span class='uit-tweet__name'>Sally Plus</span>
                <span class='uit-tweet__username'>@sallyplus</span>
            </div>
        </div>
        <div class="uit-tweet__body">
            Hey, John Mason, you’re a disgusting piece of shit. You definitely won’t be getting any dates in Oklahoma City now, you asshole.
        </div>
        <div class="uit-media__screenshot">
        {{>
            partials/DM
            platform="tinder"
            image="max-lift"
            noAnimation="true"
            message="Not sure why you bothered messaging me back if you didn’t want to talk but alright, I just can’t understand what it is that gives fat bitches like you the idea you’re better than other people. What makes you fat cunts so stuck up?? Have you looked in the mirror lately?? You’re a fucking whale!! Does Sea World know Shamoo [sic] is missing? Later hoe."
        }}
        </div>
    </div>
</div>
