<div class="uit-tweet is-animatable">
    <div class='uit-tweet__empty'>
        What's happening?
    </div>
    <div class='uit-tweet__tweet'>
        <div class='uit-tweet__top'>
            <div class='uit-twitter__avatar'>
                <img class='uit-twitter__avatar-image' src='{{ path }}/assets/gloo-avatar.jpg' />
            </div>
            <div class="uit-tweet__head">
                <span class='uit-tweet__name'>Big K</span>
                <span class='uit-tweet__username'>@bigkstone</span>
            </div>
        </div>
        <div class="uit-tweet__body">
            Hey, John Mason, you’re a disgusting piece of shit. You definitely won’t be getting any dates in Oklahoma City now, you asshole.
        </div>
    </div>
</div>
