.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;
        line-height: 24px;

        @include mq(tablet) {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    p a {
        color: $c-purple;
        border-bottom: 1px solid mix($c-purple, $c-white, 20%);
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-purple;
        }
    }

    p.note {
        font-family: 'Guardian Sans Web';
        font-weight: 18px;
        color: $c-dark-grey;
    }

    .uit-content {
        padding-bottom: 12px;

        @include mq(desktop) {
            padding-top: 8px;
        }
    }

    .uit-container:before {
        @include mq(desktop) {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 170px;
            width: 1px;
            background-color: $c-light-grey;
        }

        @include mq(wide) {
            left: 250px;
        }
    }
}

.uit-body__divider {
    border-bottom: 1px solid $c-light-grey;
    margin-bottom: 6px;
    margin-top: 24px;

    @include mq(desktop) {
        width: calc(100% + 9px);
        margin-left: -9px;
    }
}

p.uit-body__credit {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid $c-light-grey;
    margin-bottom: 6px;

    @include mq(desktop) {
        border-bottom: 0;
        position: absolute;
        right: -160px;
        top: 10px;
        width: 140px;
    }

    @include mq(leftCol) {
        width: 180px;
        right: -320px;
    }

    @include mq(wide) {
        width: 210px;
        right: -400px;
    }
}

.uit-body__meta {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $c-light-grey;
    margin-bottom: 8px;

    @include mq(desktop) {
        position: absolute;
        width: 140px;
        display: block;
        left: -160px;
        border-bottom: 0;
        margin-top: 1px;
    }

    @include mq(wide) {
        left: -240px;
        width: 220px;
    }

    .uit-share {
        margin-top: 4px;
    }
}

.uit-body__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-purple;
    margin: 0;

    @include mq(desktop) {
        font-size: 18px;
        display: block;
    }

    @include mq(wide) {
        display: none;
    }

    a {
        font-style: normal;
        font-weight: bold;
        color: $c-purple;
    }
}

.uit-body__dateline {
    font-family: 'Guardian Sans Web';
    font-weight: normal;
    font-size: 14px;
    color: $c-dark-grey;
    margin: 2px 0 4px 0;
}

.uit-body__tinder-bio {
    font-family: 'Guardian Sans Web';
    padding: 3px 0px 2px;
    margin: 0 1px;
    box-shadow: 3px 0px 0 #dcdcdc, -3px 0px 0 #dcdcdc;
    background-color: #dcdcdc;
}

.uit-phone-call__container {
    max-width: 480px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 12px 0px 12px 0px;
    margin: 20px 0px 20px 0px;

    p {
        font-size: 24px;
        line-height: 30px;
    }
}

.uit-phone-call__dm {
    filter: blur(20px);
    opacity: 0.1;
    transition: all 0.5s linear;

    &.is-animated {
        opacity: 1;
        filter: blur(0px);
    }
}

.uit-phone-call__dm--me {
    text-align: right;
    color: $c-purple;
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-purple;
}

.uit-subhead {
    @include banding($c-yellow);
    font-size: 24px;
    font-weight: bold;
}
