.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;

        @include mq(tablet) {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    p a {
        color: $c-purple;
        border-bottom: 1px solid mix($c-purple, $c-white, 20%);
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-purple;
        }
    }

    .uit-content {
        padding-bottom: 12px;
    }
}

.uit-body__call {
    max-width: 480px;

    p {
        font-size: 24px;
        line-height: 30px;
    }
}

.uit-body__call-line {
    filter: blur(20px);
    opacity: 0.1;
    transition: all 0.5s linear;

    &.is-animated {
        opacity: 1;
        filter: blur(0px);
    }
}

.uit-body__call-line--me {
    text-align: right;
    color: $c-purple;
}

@keyframes messageIn {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.uit-body__twitter-dm {
    background-color: $c-light-grey;
    padding: 10px;
    max-width: 70%;
    border-radius: 18px 18px 18px 0px;
    opacity: 0;

    &.is-animated {
        animation: messageIn 0.5s linear forwards;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-purple;
}

.uit-subhead {
    @include banding($c-yellow);
    font-size: 24px;
    font-weight: bold;
}
