@keyframes messageInTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes messageIn {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.uit-dm {
    display: block;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;

    .uit-avatar {
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        background-color: $c-light-grey;
        border: 2px solid $c-white;
        overflow: hidden;
        display: inline-block;
        bottom: 0px;

        .uit-avatar-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }

    &.is-animatable .uit-avatar {
        opacity: 0;
        transition: opacity 0.4s linear;
    }

    &.is-animated .uit-avatar {
        opacity: 1;
    }

    .uit-body-dm {
        position: relative;
        z-index: 2;
        bottom: 0;
        margin-left: 70px;
        margin-bottom: 0px;
        margin-top: 6px;
        padding: 10px;
        max-width: 70%;
        border-radius: 18px 18px 18px 0px;
        opacity: 0;
        display: inline-block;
    }

    .uit-body__twitter-dm {
        background-color: $c-twitter-grey;
    }

    .uit-body__instagram-dm {
        background-color: $c-instagram-grey;
    }

    .uit-body__tinder-dm {
        background-color: #fff;
        opacity: 1;
    }

    .uit-body__google-dm {
        border: 2px solid $c-tinder-grey;
        border-radius: 0px 8px 8px 8px;
    }

    &.is-animated {
        .uit-body-dm {
            animation: messageIn 0.5s linear forwards;
        }
    }
}

.uit-dm__wrapper {
    position: relative;
}

.uit-dm__timestamp {
    margin-left: 70px;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    font-weight: bold;
    color: $c-dark-grey;
    padding-top: 3px;
    opacity: 0;
    transition: opacity 0.4s linear;

    .is-animated & {
        opacity: 1;
    }
}
