.uit-facebook {
    position: relative;
    margin-bottom: 18px;

    .uit-media__screenshot {
        border-radius: 0;
        margin: 0;
    }
}

.uit-facebook__empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Guardian Sans Web';
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    color: $c-grey;
    border: 1px solid $c-light-grey;
}

.uit-facebook__wrapper {
    opacity: 0;
    border: 1px solid $c-light-grey;
    transform: translateY(20%);
    transition: all linear 0.4s;
    background-color: $c-white;

    .is-animated & {
        opacity: 1;
        transform: translateY(0);
    }
}

.uit-facebook__post {
    padding: 10px;
}

.uit-facebook__top {
    display: flex;
    margin-bottom: 6px;
}

.uit-facebook__head {
    font-family: 'Guardian Sans Web';
    font-size: 18px;
    margin-top: 16px;
    flex-grow: 2;
}

.uit-facebook__group {
    position: relative;
    color: #2e7131;
    font-weight: bold;
    padding-left: 30px;

    &:before {
        content: '';
        position: absolute;
        left: 8px;
        top: -2px;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #2e7131;
    }
}

.uit-facebook__body {
    font-family: 'Guardian Sans Web';
    font-size: 18px;
}

.uit-facebook__avatar {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: $c-light-grey;
    margin-right: 10px;
    overflow: hidden;
}

.uit-facebook__avatar-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s linear;

    .is-animated & {
        opacity: 1;
    }
}

p.uit-facebook__reply {
    font-family: 'Guardian Sans Web';
    font-size: 18px;
    padding: 10px;
    border: 1px solid $c-light-grey;
}
