.uit-gloo-graphic {
    max-width: 480px;
    padding: 20px 0;
}

.uit-gloo-graphic__wrapper {
    padding: 12px 6px;
    border: 1px solid $c-light-grey;
}

.uit-gloo-graphic__top {
    display: flex;
}

.uit-gloo-graphic__avatar-ring {
    border: 1px solid $c-purple;
    width: 76px;
    height: 76px;
    border-radius: 200px;
    margin-right: 10px;
    margin-bottom: 12px;
}

.uit-gloo-graphic__avatar {
    position: relative;
    z-index: 2;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background-color: $c-light-grey;
    border: 2px solid $c-white;
    overflow: hidden;
}

.uit-gloo-graphic__avatar-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s linear;

    .is-step-0 & {
        opacity: 1;
    }
}

.uit-gloo-graphic__meta {
    padding-top: 12px;
}

p.uit-gloo-graphic__name {
    font-family: 'Guardian Sans Web';
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    background-color: $c-light-grey;
    color: $c-light-grey;
    display: inline-block;
    transition: all 0.4s linear;

    .is-step-0 & {
        background-color: none;
        color: $c-black;
    }
}

p.uit-gloo-graphic__followers {
    font-family: 'Guardian Sans Web';
    margin: 0;
}

.uit-gloo-graphic__followers-count {
    font-weight: bold;
}

.uit-gloo-graphic__grid {
    overflow: hidden;
}

.uit-gloo-graphic__post {
    position: relative;
    float: left;
    height: 0;
    width: calc(33% - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
    padding-top: calc(33% - 2px);
    background-color: $c-light-grey;
}

.uit-gloo-graphic__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s linear;

    .is-step-1 & {
        opacity: 1;
    }

    @for $i from 6 through 1 {
        .uit-gloo-graphic__post--#{$i} & {
            transition-delay: $i * 0.1s;
        }
    }
}
