.is-group {
    position: relative;
    width: 100%;
}

.is-group-step {
    padding: 48px 0;
}

.is-group-graphic {
    position: absolute;
    top: 0;
    width: 100%;

    .is-fixed & {
        position: fixed;
        top: 0;
    }

    .is-bottom & {
        bottom: 0;
        top: auto;
    }
}
