.uit-tweet__empty {
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Guardian Sans Web';
    font-size: 18px;
    color: $c-dark-grey;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $c-light-grey;
    padding: 10px;
}

.uit-tweet__tweet {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    border: 1px solid $c-light-grey;
    background-color: $c-white;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Guardian Sans Web';
    opacity: 0;

    .is-animated & {
        animation: messageInTop 0.5s linear forwards;
    }
}

@keyframes messageInTop {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.uit-tweet__top {
    display: flex;
}

.uit-tweet__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    display: block;
    margin-top: 3px;
}

.uit-tweet__username {
    font-size: 18px;
    color: $c-dark-grey;
}

.uit-tweet__body {
    font-size: 24px;
    line-height: 1.3;
}

.uit-dm {
    display: block;
    position: relative;
    margin-bottom: 20px;

    .uit-avatar {
        position: absolute;
        z-index: 2;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background-color: $c-light-grey;
        border: 2px solid $c-white;
        overflow: hidden;
        margin: 0 10px 12px 0;
        display: inline-block;
        bottom: 0px;

        .uit-avatar-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s linear;

            .is-step-0 & {
                opacity: 1;
            }
        }
    }

    .uit-body-dm {
        bottom: 0;
        margin-left: 56px;
        margin-bottom: 0px;
        margin-top: 6px;
        padding: 10px;
        max-width: 70%;
        border-radius: 18px 18px 18px 0px;
        opacity: 0;
        display: inline-block;
    }

    .uit-body__twitter-dm {
        background-color: $c-twitter-grey;
    }

    .uit-body__instagram-dm {
        background-color: $c-instagram-grey;
    }

    &.is-animated {
        .uit-body-dm {
            animation: messageIn 0.5s linear forwards;
        }
    }
}

.uit-twitter__avatar {
        display: inline-block;
        margin: 0;
        position: absolute;
    }

.uit-twitter__avatar-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s linear;

        .is-step-0 & {
            opacity: 1;
        }
}
